<div class="ui link list">
<%unit.links.forEach(function(link){%>
    <a href="<%=link.url%>" class="item"><i class="angle right icon"></i><%=link.name%></a>
<%})%>
<p></p>
<form action="/units/<%=unit.id%>/new" method="post">
  <input type="text" name="link[name]" placeholder="+ title" class="title item">
  <input type="text" name="link[url]" placeholder="url" class="url item">
</form>

</div>
