<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
</head>
<body>
    <i id="minusBase" class="minus icon"></i>
    <i id="plusBase" class="plus icon"></i>
      <form id="unitForm" class="ui form small" action="/new" method="post">
        <div class="field">
          <div class="ui label">Add new unit</div>
        </div>
        <div class="field">
            <input name="unit[name]" type="text" placeholder="name of new unit">
            <input name="unit[url]" type="text" placeholder="icon url">
        </div>
        <div class="field">
            <button class="ui button mini olive right floated">Add</button>
        </div>
      </form>

    <div class="ui container">
      <div class="ui piled segment">
        <h1>#CodePage</h1>
      </div>
      <div class="ui grid" id="unit-list">

      </div>

      <div class="ui segment base" id="link-list">

      </div>
    </div>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
  </html>
