<% include partials/header %>
    <a href="/new">Add unit</a>
    <!-- <a href="/links/new">Add link</a> -->
    <i class="plus icon"></i>
      <!-- <form class="ui form small" action="/new" method="post">
        <div class="field">
          <div class="ui label">Add new unit</div>
        </div>
        <div class="field">
            <input name="unit[name]" type="text" placeholder="name of new unit">
            <input name="unit[url]" type="text" placeholder="icon url">
        </div>
        <div class="field">
            <button class="ui button mini olive right floated">Add</button>
        </div>
      </form> -->

    <div class="ui container">
      <div class="ui piled segment">
        <h1>#CodePage</h1>
      </div>
      <div class="ui grid">

        <% units.forEach(function(unit){ %>
          <div class="four wide column">
            <div class="unit-icon">
              <img src="<%= unit.url %>">
              <h4><%=unit.name%></h4>
            </div>
          </div>
        <% }); %>

      </div>
        <div class="ui segment base" id="python-list">
          <div class="ui link list">
            <% links.forEach(function(link){ %>
              <a href="<%=links.url%>" class="item"><i class="angle right icon"></i><%=links.name%></a>
            <% }) %>
              <form><input type="text" class="insider" placeholder="+" class="item"></form>
          </div>
        </div>

    </div>

<% include partials/footer %>
