<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
</head>
<body>
    <i class="plus icon"></i>
      <form id="unitForm" class="ui form small" action="/new" method="post">
        <div class="field">
          <div class="ui label">Add new unit</div>
        </div>
        <div class="field">
            <input name="unit[name]" type="text" placeholder="name of new unit">
            <input name="unit[url]" type="text" placeholder="icon url">
        </div>
        <div class="field">
            <button class="ui button mini olive right floated">Add</button>
        </div>
      </form>
<!-- ======================================== -->

<script type="text/javascript">


</script>
<!-- ======================================== -->
    <div class="ui container">
      <div class="ui piled segment">
        <h1>#CodePage</h1>
      </div>
      <div class="ui grid" id="unit-list">
        <!-- <% units.forEach(function(unit){ %>
          <div class="four wide column">
            <div class="unit-icon">
              <img src="<%= unit.url %>">
              <h4><%=unit.name%></h4>
            </div>
          </div>
        <% }); %> -->
      </div>

      <div class="ui segment base" id="python-list">
        <div class="ui link list">
            <!-- <a href="<%=links.url%>" class="item"><i class="angle right icon"></i></a> -->
            <form><input type="text" class="insider" placeholder="+" class="item"></form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
  </html>
