<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
</head>
<body>
    <i class="plus icon"></i>
      <form class="ui form small">
        <div class="field">
          <div class="ui label">Add new unit</div>
        </div>
        <div class="field">
            <input type="text" placeholder="name of new unit">
            <input type="text" placeholder="icon url">
        </div>
        <div class="field">
            <button class="ui button mini olive right floated">Add</button>
        </div>
      </form>

    <div class="ui container">
      <div class="ui piled segment">
        <h1>#CodePage</h1>
      </div>
      <div class="ui grid">

        <div class="four wide column">
          <div class="unit-icon" id="python">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSRoJpj76-V9zyyzEZTaljnDVIjfY9HKYTPQ1xYydBzFjSTvQwD5zGjbw">
            <h4>Python</h4>
          </div>
        </div>
        <div class="four wide column">
          <div class="unit-icon" id="css">
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-512.png">
            <h4>CSS</h4>
          </div>
        </div>


      </div>
        <div class="ui segment base" id="python-list">
          <div class="ui link list">
            <a href="#" class="item"><i class="angle right icon"></i>Tutorial</a>
            <a href="#" class="item"><i class="angle right icon"></i>Tutorial</a>
              <input type="text" class="insider" placeholder="+" class="item">
          </div>
        </div>
        <div class="ui segment base" id="css-list">
          <div class="ui link list">
            <a href="#" class="item"><i class="angle right icon"></i>Tutorial</a>
            <a href="#" class="item"><i class="angle right icon"></i>Tutorial</a>
              <input type="text" class="insider" placeholder="+" class="item">
          </div>
        </div>

    </div>

  <script type="text/javascript" src="codepage.js"></script>
</body>
</html>
